figcaption {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #3d3d3d;
  line-height: 1.55;
  padding: 0;
}

table {
  width: 490px;
  border-collapse: collapse;
  border-color: grey;
  font-family: Verdana, Geneva, sans-serif;
  margin-top: 7px;
  margin-bottom: 25px;
}

thead tr th {
  background: #fff none;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  padding: 7px 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  text-align: left;
  color: #333;
}

tbody tr td {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-left-color: #c6c6c6;
  padding: 3px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  transition: .5s;
}

tbody tr:nth-child(odd) td {
  background-color: #f5f5f5;
}

tbody tr:nth-child(even):hover td,
tbody tr:nth-child(odd):hover td {
  background-color: #e8e8e8;
}

small {
  font-family: Raleway, sans-serif;
  color: #3d3d3d;
}

small span {
  font-weight: bold;
  line-height: 1.55;
}
